@charset "UTF-8";

/* 버튼 */
.btn_box{display: flex;align-items: center;justify-content: center;gap: 20px;flex-wrap: nowrap;}
.btn_box > .btn{flex: 1;}
.btn{width: 100%;font-size:16px;font-weight:700;line-height: 54px;text-align: center;border-radius: 8px;-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);-moz-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);-ms-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);-o-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);cursor: pointer;}
.btn.btn_confirm{color:#fff;background-color: #00AB8F;}
.btn.btn_cancle{color:#fff;background-color: #929292;}
.btn.btn_request{color:#fff;background-color: #00AB8F;}
.btn.btn_resend{color:#fff;background-color: #00AB8F;}
.btn.btn_chk{color:#fff;background-color: #929292;}
.btn.btn_save{color:#fff;background-color: #00AB8F;}

/* input box */
.inp_item{margin-top: 20px;}
.inp_item:first-child{margin-top: 0;}
.inp_item .inp_tit{display: flex;align-items: center;}
.inp_item.required .inp_tit .compulsory{display: inline-block;font-family:'sans-serif';font-size:20px;font-weight:400;line-height:20px;color: #EA0000;}
.inp_item .inp_tit .kr_txt{display:inline-block;font-size: 16px;font-weight: 500;line-height:20px;color: #333;}
.inp_item .inp_tit .en_txt{display:inline-block;margin-left:5px;font-size: 14px;font-weight:300;line-height:20px;color: #666;}
.inp_item .inp_tit + .inp_box{margin-top: 10px;}
.inp_item .inp_box.row2{display: flex;align-items: center;gap: 35px;}
.inp_item .inp_box input[type="text"],
.inp_item .inp_box input[type="tel"]{width:100%;padding: 12px 17px;font-size:14px;font-weight:400;line-height:16px;color:#333;border:1px solid #d9d9d9; border-radius:4px;}
.inp_item.readonly .inp_box input{background-color: #f5f5f5;}
.inp_item .inp_box.radio_box{display: flex;flex-direction: column;flex-wrap: nowrap;gap: 10px;padding: 15px 20px;border: 1px solid #d9d9d9; border-radius: 4px;}
.inp_item .inp_box .date_inp{display: flex;align-items: center;gap: 8px;}
.inp_item .inp_box .date_inp input{flex: 1;padding-right:35px;background-image: url('../images/icon/icon_calender.svg');background-repeat: no-repeat;background-size: 18px 18px;background-position: right 10px center;}
.inp_item .inp_box .date_inp span{flex: 0 0 auto;}

/* input 커스텀 */
.cus_inp_box{display: inline-block;}

/* 라디오 input 커스텀 */
.radio_inp {}
.radio_inp .label_box {display:block;cursor: pointer;position: relative;padding-left: 23px;}
.radio_inp .label_box .inp_label{display:block;font-size: 14px;font-weight: 300;line-height: 18px;color: #999;}
.radio_inp .label_box input[type="radio"]{position: absolute;opacity: 0;height: 0;width: 0;appearance: none;}
.radio_inp .label_box .inp_custom {position: absolute;top: 0;left: 0;height: 18px;width: 18px;background-color: #fff;border: 1px solid #999;border-radius: 50%;}
.radio_inp .label_box input[type="radio"]:checked ~ .inp_custom {border-color: #00AC8F;}
.radio_inp .label_box input[type="radio"]:checked ~ .inp_custom:after {content: "";display: block;width: 8px;height: 8px;border-radius: 50%;background-color: #00AC8F;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.radio_inp .label_box input[type="radio"]:checked ~ .inp_label{font-weight:500;color: #00AC8F;}

/* 체크박스 input 커스텀 */
.chk_inp {}
.chk_inp .label_box {display:block;cursor: pointer;position: relative;padding-left: 23px;}
.chk_inp .label_box .inp_label{display:block;font-size: 14px;font-weight: 300;line-height: 18px;color: #666;}
.chk_inp .label_box input[type="checkbox"]{position: absolute;opacity: 0;height: 0;width: 0;appearance: none;}
.chk_inp .label_box .inp_custom {position: absolute;top: 0;left: 0;height: 18px;width: 18px;background-color: #fff;border: 1px solid #ddd;border-radius: 4px;}
.chk_inp .label_box input[type="checkbox"]:checked ~ .inp_custom {}
.chk_inp .label_box input[type="checkbox"]:checked ~ .inp_custom:after {content: "";display: block;width: 9px;height: 6px;background-image:url('../images/icon/icon_chked.svg');background-repeat:no-repeat;background-size:cover;background-position:center;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.chk_inp .label_box input[type="checkbox"]:checked ~ .inp_label{font-weight:500;}

.select_inp select{width:100%;padding: 12px 17px;font-size:14px;font-weight:400;line-height:16px;color:#444;background-image:url('../images/icon/select_arrow.svg');background-repeat:no-repeat;background-size:24px;background-position:right 17px center;border:1px solid #d9d9d9;border-radius:4px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.select_inp select::-ms-expand{display: none;}

.select_box{position: relative;}
.select_box .select_btn{width:100%;padding: 12px 17px;font-size:14px;font-weight:400;line-height:16px;color:#444;background-color:#fff;background-image:url('../images/icon/select_arrow.svg');background-repeat:no-repeat;background-size:24px;background-position:right 10px center;border:1px solid #d9d9d9;border-radius:4px;-webkit-appearance: none;-moz-appearance: none;appearance: none;cursor: pointer;}
.select_box.on .select_btn{border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.select_box .select_dropbox{display: none;width:100%;max-height: 120px;position: absolute;left: 0;top: calc(100% - 1px);z-index: 10;background-color: #fff;border: 1px solid #d9d9d9;overflow-y: auto;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
.select_box.on .select_dropbox{display: block;}
.select_box .select_dropbox .select_list{padding:10px 0;}
.select_box .select_dropbox .select_list > .select_item{padding: 3px 10px;font-size: 12px;font-weight:400;line-height:20px;color: #333;letter-spacing:-0.5px;cursor: pointer;}
.select_box .select_dropbox .select_list > .select_item .item_code{display: inline-block;margin-right:3px;}

.btn_top{position: fixed;right:20px;bottom: 74px;z-index:100;width:40px;height:40px;border-radius:50%;background-color: #fff;border: 1px solid #ccc;overflow:hidden;display: flex;align-items: center;justify-content: center;cursor: pointer;}
.btn_top .icon_top{display: block;width: 16px;height: 22px;background-image: url('../images/icon/icon_top.svg');background-repeat: no-repeat;background-size: cover;background-position: center center;}

.ly_pop{display:none;position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index:101;width: 100%;height: 100%;overflow:hidden;outline: 0;pointer-events: none;}
.ly_pop .ly_inner{display: flex;justify-content: center;align-items: center;width:auto;max-width:calc(100% - 40px);margin:0 auto;min-height: 100vh;pointer-events: none;}
.ly_pop .ly_cont{width:100%;max-width:600px;border-radius:4px;overflow:hidden;background-color: #fff;pointer-events: auto;outline: 0;}

.ly_pop .ly_hd{padding: 15px 15px 15px 20px;display:flex;align-items:center;justify-content:space-between;border-bottom: 1px solid #d9d9d9;}
.ly_pop .ly_hd .tit{font-size:14px;font-weight:500;line-height:17px;}
.ly_pop .ly_hd .ly_close_btn{cursor:pointer;line-height: 0;}
.icon_close{display: block;width: 24px;height: 24px;background-image: url('../images/icon/icon_close.svg');background-repeat: no-repeat;background-size: cover;background-position: center;}

.ly_pop.type2 .ly_hd{padding: 30px 20px 10px;flex-direction:column;gap:8px;border: none;position: relative;}
.ly_pop.type2 .ly_hd .tit{font-size:18px;line-height:22px;color:#333;}
.ly_pop.type2 .ly_hd .subtit{font-size:16px;font-weight:400;line-height:19px;color:#666;}
.ly_pop.type2 .ly_close_btn{position: absolute;top: 20px;right: 14px;z-index: 102;}

.ly_pop .ly_bd{max-height:500px;overflow-y: auto;}
.ly_pop .ly_bd .bd_cont{padding:20px;}
.certi_pop .bd_cont + .bd_cont{border-top: 1px solid #d9d9d9;}

.ly_dim{display:none;position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 100;width: 100vw;height: 100vh;min-height: 100vh;background-color: rgba(0, 0, 0, .2);pointer-events: none;}
.ly_dim.open{pointer-events:all;}

.fixed_bot{position: fixed;left: 0;bottom: 0;right: 0;z-index: 100;}
.fixed_bot .btn_box{gap: 0;}
.fixed_bot .btn_box .btn{border-radius: 0;box-shadow: none;display: flex;align-items: center;justify-content: center;gap: 6px;}
.fixed_bot .btn_box .btn_certi{color: #fff;background-color: #00AB8F;}
.fixed_bot .btn_box .btn_logout{color: #fff;background-color: #027BC1;}
.fixed_bot .icon{display: inline-block;background-repeat: no-repeat;background-size: cover;background-position: center center;}
.icon_qr_certi{background-image: url('../images/icon/icon_qr_certi.svg');width: 20px;height: 20px;}
.icon_logout{background-image: url('../images/icon/icon_logout.svg');width: 14px;height:20px;}


.ui-widget{font-family:'Noto Sans KR', sans-serif !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border:1px solid #333 !important;background:#fff !important;color:#333 !important;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{border: 1px solid #00AB8F !important;background: #00AB8F !important;}